<% layout('layouts/boilerplate') %>
<h1>customers</h1>

<h1><%=customer.name %></h1> 
<ul>
    <li><%=customer.Age %></li>
</ul>

<a class="btn btn-info" href="/customers/<%= customer._id %>/edit">EDIT</a>
<form class="d-inline" action="/customers/<%=customer._id%>?_method=DELETE" method="post">
    <button class="btn btn-danger">DELETE</button>
</form>
    
